# Логи
*.log
*.json
*.png
*.csv


cookies/
*.pkl
# Временные файлы
*.tmp
*.temp
ignored/
# Python
*__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
.pyre/

# Временные файлы Python
*.tmp.py

# Файлы зависимостей (Node.js)
node_modules/

# Файлы IDE
.vscode/
.idea/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db

# Сборки
/dist
/build
*.exe
*.dll

# Конфиденциальные данные
.env
*.key
*.pem